* {
    margin: 0;
    padding: 0;
}

*, *::before, *::after {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.29;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: none;
}

p {
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    line-height: 1.67;
    letter-spacing: 0.3px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: #e1e1e1 solid 2px;
}

.logo {
    display: inline-block;
}

.logo-link {
    text-transform: uppercase;
    font-family: 'Stalinist One', cursive;
    font-size: 30px;
    line-height: 2.98;
    text-align: center;
    color: #1d1d1d;
}

.logo-link span {
    color: #0057ff;
}

.logo-link:hover > span {
    color: #32c766;
}

.page-section {
    padding: 50px 0;
}

.container {
    max-width: 1535px;
    margin: 0 auto;
    padding: 0 15px;
}

.search-inner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    text-align: center;
    color: #000000;
}

.form {
    max-width: 750px;
    width: 100%;
    margin: 40px 0 0 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    text-align: left;
    color: #000000;
}

.search_input {
    padding: 15px 30px 15px 45px;
    border-radius: 27.5px;
    border: solid 1px #e1e1e1;
    font-size: 20px;
    outline: none;
    background: url('../img/search.svg');
    background-repeat: no-repeat;
    background-position: 20px center;
    align-self: normal;
    margin: 0 0 30px 0;
}

.search_input::placeholder {
    font-size: 15px;
    text-align: left;
    color: #000000a1;
}

.drop-down-menu-block, .year-block {
    margin: 30px 0;
    display: flex;
    justify-content: space-around;
}

.year-block {
    margin: 0 0 30px;
}

.select_mate, .genre {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.genre, .select_mate, .year-first, .year-second {
    max-width: 230px;
    width: 100%;
    padding: 20px 20px;
    outline: none;
    font-size: 15px;
    text-align: left;
    color: #000000a1;
    border: solid 1px #e1e1e1;
    background-color: #ffffff;
    border-radius: 27.5px;
}

.select_mate::placeholder, .genre::placeholder {
    color: #000000a1;
}

.movie-section {
    background-color: #f5f5f5;
}

.movie-inner {
    display: flex;
    flex-direction: column;
}

.movie-title {
    text-align: right;
    margin-bottom: 50px;
    font-family: 'Stalinist One', cursive;
    font-size: 24px;
    font-weight: 900;
    letter-spacing: 1px;
    border-right: 10px solid #0057ff;
    padding: 0 25px 5px 0;
}

.movie-block {
    display: flex;
    justify-content: space-between;
}

.movie_item, .person-item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 27.5px;
}

.movie_link {
}

.movie_link, .movie_item img, .person-link {
    display: block;
    border: none;
    border-radius: 27.5px;
    cursor: pointer;
    outline: none;
    max-width: 230px;
    max-height: 327px;
}

.movie_item img, .person-item img {
    display: block;
    background-color: #fcf5ef;
    width: 230px;
    height: 327px;
    transition: .1s all ease;
}

.movie_link {
    display: flex;
    position: relative;
    border-radius: 27.5px;
    transition: .1s all ease;
}

.movie-name, .person-name {
    margin-top: 30px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.button-block {
    margin: 30px auto 0;
}

.btn {
    background-color: #0057ff;
    border-radius: 27.5px;
    color: #fff;
    border: none;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    padding: 15px 50px;
    cursor: pointer;
}

.btn:hover {
    background-color: #32c766;
}

.bg-link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    outline: none;
    border: none;
    border-radius: 27.5px;
    transition: .05s transform ease;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0055ff8f;
    z-index: -4;
}

.active {
    background-color: #007bff;
    color: #fff !important;
}

.movie_link:hover, .person-link {
    transform: scale(1.06);
}

.movie_link:hover > .bg-link {
    z-index: 5;
}

@media (max-width: 1550px) {
    .movie_item {
        width: 30%;
    }

    .movie-block {
        flex-wrap: wrap;
    }

    .movie_item:first-of-type, .movie_item:nth-of-type(2), .movie_item:nth-of-type(3) {
        margin-bottom: 30px;
    }

    .movie-list-block .movie_item {
        width: 25%;
    }
}

@media (max-width: 700px) {
    .movie-list-block .movie_item {
        width: 30%;
    }
}

@media (max-width: 600px) {
    .page-section {
        padding: 50px 0;
    }

    .movie_item {
        width: 40%;
        margin-bottom: 30px;
    }

    .movie-title {
        font-size: 18px;
    }

    .movie-name {
        font-size: 20px;
    }

    .nav {
        padding: 5px 0;
    }

    .drop-down-menu-block, .year-block {
        justify-content: space-between;
    }

    .filter-section {
        padding: 30px 0;
    }
}

@media (max-width: 530px) {
    .genre, .select_mate, .year-first, .year-second {
        max-width: 200px;
    }
}

@media (max-width: 440px) {
    .genre, .select_mate, .year-first, .year-second {
        max-width: 750px;
        width: 100%;
    }

    .drop-down-menu-block, .year-block {
        flex-wrap: wrap;
    }

    .select_mate, .year-first {
        margin-bottom: 30px;
    }

    .movie-list-block .movie_item {
        width: 45%;
    }
}

@media (max-width: 350px) {
    .movie_item {
        width: 100%;
    }

    .movie_item img {
        max-width: 80%;
    }

    .bg-link {
        width: 80%;
        left: 10%;
        right: 10%;
    }

    .movie_link {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .title {
        font-size: 19px;
    }

    .logo-link {
        font-size: 26px;
    }

    .filter-inner {
        justify-content: center;
    }

    .movie-list-block .movie_item {
        width: 100%;
    }

    .movie-list-block .movie_item img {
        max-width: 80%;
    }
}

.toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
}

.toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: #9A9999;
    border-radius: 8px;
    transition: background .2s ease;
}

.toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
    transition: all .2s ease;
}

.toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: #0055ffab;
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
}

#cbx:checked + .toggle:before {
    background: #947ADA;
}

#cbx:checked + .toggle span {
    background: #0057ff;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}

#cbx:checked + .toggle span:before {
    transform: scale(1);
    opacity: 0;
    transition: all .4s ease;
}

.filter-section {
    padding: 50px 0;
    background-color: #f5f5f5;
}

.filter-inner {
    display: flex;
}

.triggers {
    display: flex;
}

.filter-item {
    margin-right: 25px;
    transition: all 0.5s ease;
}

.filter-link {
    font-size: 16px;
    font-weight: 700;
    color: #b1b1b1;
}

.filter-active {
    color: #0057ff;
}

.movie-list-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.movie-list-block .movie_item {
    margin-bottom: 30px;
}

.movie-list-block .movie_link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-list-block .movie_link img {
    max-width: 80%;
}

.movie-list-block .bg-link {
    left: 10%;
    right: 10%;
}

.movie-page-block {
    margin: 0 auto;
}

.page-list {
    display: flex;
    margin-right: 10px;
    justify-content: center;
}

.page-item {
    margin-right: 10px;
}

.page-item:last-of-type {
    margin-right: 0;
}

.page-link {
    padding: 10px 15px;
    font-size: 18px;
    color: #7d7d7d;
    border: solid 1px #cccccc;
    border-radius: 50%;
}

.dots {
    padding: 10px 15px;
    font-size: 18px;
    color: #7d7d7d;
}

.page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.page-link:hover {
    background-color: #0057ff;
    border: 1px solid #0057ff;
    color: #fff;
}

.not-found {
    text-align: center;
    font-size: 90px;
    color: rgba(0, 0, 0, .4);
}

.not-found-section {
    position: relative;
}

.back-btn-block {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

@media (max-width: 1550px) {
    .movie-list-block .movie_item {
        width: 25%;
    }
}

@media (max-width: 700px) {
    .movie-list-block .movie_item {
        width: 30%;
    }
}

@media (max-width: 600px) {
    .filter-section {
        padding: 30px 0;
    }

    .page-link {
        padding: 5px 10px;
    }
}

@media (max-width: 440px) {
    .movie-list-block .movie_item {
        width: 45%;
    }
}

@media (max-width: 350px) {
    .filter-inner {
        justify-content: center;
    }

    .movie-list-block .movie_item {
        width: 100%;
    }
}

.movie-info-section {
    border-bottom: 1px solid rgba(18.04%, 36.47%, 55.29%, 1.00);
    background-position: right -200px top;
    background-size: cover;
    background-repeat: no-repeat;
}

.movie-info-inner {
    display: flex;
    justify-content: center;
}

.movie-info-wrapper {
    background-image: linear-gradient(to right, rgb(77, 109, 148) 150px, #0f4c86a9 100%);
}

.movie-poster-block {
    width: 30%;
    display: flex;
    justify-content: center;
    align-self: center;
}

.movie-info-text-block {
    width: 70%;
    color: #fff;
}

.movie-info-title {
    font-size: 2.2rem;
    margin-top: 24px;
}

.movie-info-title span {
    opacity: 0.8;
    font-weight: 400;
}

.poster-img, .person-img-block img {
    border-radius: 25px;
    background-color: #fcf5ef;
    transition: all .1s ease;
    width: 300px;
    height: 450px;
    box-shadow: -5px 10px 20px rgba(0, 0, 0, 0.424);
}

div.facts span + span {
    padding-left: 20px;
    position: relative;
    top: 0;
    left: 0;
    font-weight: 600;
}

h3.tagline {
    margin-bottom: 0;
    font-size: 1.1em;
    font-weight: 400;
    font-style: italic;
    opacity: 0.7;
    margin: 15px 0;
}

.view {
    margin: 0 0 8px 0;
    font-family: 'Source Sans Pro', Arial, sans-serif;
    font-size: 25px;
    font-weight: 700;
}

.overview p {
    font-size: 18px;
    line-height: 1.3;
}

ol.people.scroller {
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    overflow-x: auto;
    margin-left: -10px;
    margin-top: -10px;
}

ol.people {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
}

ol.people li.card {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 4px;
    border: 1px solid rgba(227, 227, 227, 1);
    padding-bottom: 10px;
    border-radius: 8px;
    overflow: hidden;
}

ol.people li {
    min-width: 140px;
    width: 140px;
    background-color: #fff;
    margin-right: 10px;
}

.card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(227, 227, 227, 1);
    background-color: #fff;
}

.people li {
    display: list-item;
    text-align: -webkit-match-parent;
}

ol.people {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    top: 0;
    left: 0;
}

ol.people li > a {
    min-width: 138px;
    width: 138px;
    display: block;
}

ol.people li img {
    width: 100%;
    height: 100%;
}

ol.people li a + p {
    padding-top: 10px;
}

ol.people li p {
    padding: 0 10px;
}

ol.people li p {
    font-size: 14px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

ol.people li p a {
    font-weight: bold;
    color: #000;
    font-size: 1em;
}

.columns {
    display: flex;
}

.left-column {
    width: 80%;
}

.right-column {
    width: 20%;
    display: flex;
    justify-content: center;
    padding-top: 65px;
}

section.split_column {
    padding-top: 4px;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    max-width: 300px;
}

section.split_column > div {
    width: 100%;
}

div.grey_column div.column {
    width: 100%;
}

.no_bottom_pad {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

section.split_column section {
    margin-bottom: 30px;
    width: 100%;
}

section.split_column section:last-of-type {
    margin-bottom: 0;
}

section.facts div.social_links {
    display: flex;
}

section.facts p.wrap {
    white-space: normal;
}

div.column p strong {
    display: block;
    font-weight: 600;
}

.facts p {
    font-size: 15px;
}

section.panel {
    width: 100%;
    display: block;
    padding: 30px 0;
    border-top: 1px solid #d7d7d7;
}

section.media_panel div.content {
    display: flex;
    width: 100%;
    border-radius: 8px;
}

section.media_panel div.h_scroller {
    display: flex;
    height: 300px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 0;
    -webkit-overflow-scrolling: touch;
}

div.scroller {
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}

div.scroller_wrap {
    position: relative;
    top: 0;
    left: 0;
}

div.video.card {
    border: 1px solid rgba(227, 227, 227, 1);
    border-radius: 8px;
    display: flex;
    align-items: flex-start;
    height: auto;
    min-width: 533px;
}

div.video.card.no_border, div.video.card.no_border + div.card {
    border: none;
    margin-top: 0;
}

section.media_panel div.content div.wrapper, section.media_panel div.content div.video, section.media_panel div.content div.backdrop, section.media_panel div.content div.video iframe, section.media_panel div.content div.video.view_more div.link, section.media_panel div.content div.backdrop.view_more div.link {
    width: 533px;
    height: 300px;
}

section.media_panel div.content div.poster, section.media_panel div.content div.poster.view_more div.link {
    width: 200px;
    height: 300px;
}

section.media_panel div.content div.poster img {
    width: 200px;
    height: 300px;
}

section.media_panel div.content div.backdrop img {
    width: 533px;
    min-width: 533px;
    height: 300px;
    min-height: 300px;
}

section.panel:last-of-type {
    padding-bottom: 50px;
}

section.panel {
    width: 100%;
    display: block;
    padding: 30px 0;
    border-top: 1px solid #d7d7d7;
}

section.recommendations div.scroller div.item {
    display: inline-block;
    float: none;
}

div.item.mini.backdrop {
    width: 250px;
    margin: 0 15px 0 0;
}

div.item.backdrop {
    width: 445px;
}

div.item.poster div.image_content, div.item.backdrop div.image_content {
    line-height: 0;
}

div.item div.image_content {
    overflow: hidden;
}

section.recommendations div.scroller div.item p {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

section.recommendations div.scroller div.item p, section.recommendations div.scroller div.item p a, div.item p span.rating {
    color: #000;
}

div.column_wrapper div.content_wrapper p:last-child {
    margin-bottom: 0;
}

section.recommendations div.scroller div.item a {
    font-weight: 400;
    font-size: 1em;
}

div.item span.vote_average {
    padding-top: 0;
    margin-right: 0;
    display: inline-flex;
    align-items: center;
}

div.item.mini.backdrop div.image_content img {
    top: 0;
    left: 0;
    width: 250px;
    height: 141px;
    border-radius: 8px;
}

section.facts div.social_links a.social_link {
    display: block;
    font-size: 1.9em;
}

.glyphicons_v2.facebook, .glyphicons_v2.facebook_id {
    background-image: url('https://www.themoviedb.org/assets/2/v4/glyphicons/social/facebook-71155d1cd369c47ce8456477833a92c324fa01e6d628cb6ece19cedea3c1c480.svg');
}

.glyphicons_v2.twitter, .glyphicons_v2.twitter_id {
    background-image: url('https://www.themoviedb.org/assets/2/v4/glyphicons/social/twitter-a6ff8c172b8e086f4a64578cee0a16676c1a067b47a1b1b186d58795d241a852.svg');
}

.glyphicons_v2.instagram, .glyphicons_v2.instagram_id {
    background-image: url('https://www.themoviedb.org/assets/2/v4/glyphicons/social/instagram-74e6299c864adc384258da3b3a8eb09282b7ccda4dd1dfa9a4158ba2ea8583b9.svg');
}

section.facts div.social_links div + div.homepage {
    border-left: 1px solid #d7d7d7;
    padding-left: 8px;
}

section.facts div.social_links div + div {
    margin-left: 10px;
}

section.facts div.social_links div {
    height: 30px;
    margin-bottom: 30px;
}

.glyphicons_v2.justwatch {
    background-image: url('../img/imdb.svg');
    background-size: 21px;
}

.glyphicons_v2.link {
    background-image: url('https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-351-link-5f643a86c2515cb06ea08ebc798941824f76bbcea4ed571222a81f271b30c7f3.svg');
}

.rating {
    margin: 15px 0;
}

.rating span {
    color: yellow;
}

.person-info-column {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

section.inner_content h3 {
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: 8px;
}

div.person_v4 div.white_column section:first-of-type {
    margin-top: 0;
}

section.inner_content div.title h2 {
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 2.2rem;
    font-weight: 600;
}

section.inner_content div.title h2 a {
    font-weight: 700;
    color: #000;
}

.person-right-column {
    width: 75%;
}

.person-columns {
    justify-content: space-between;
}

.person-name-surname {
    font-weight: 700;
    margin-top: 20px;
}

div.person_v4 div.white_column section {
    margin-top: 30px;
    width: 100%;
}

div#known_for {
    width: 100%;
}

ul.horizontal_media_list {
    min-height: 221px;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    overflow-x: scroll;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: auto;
}

ul.list_of_languages, ul.horizontal_media_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

ul.horizontal_media_list {
    min-height: 221px;
    -webkit-overflow-scrolling: touch;
    overflow-y: hidden;
    overflow-x: scroll;
    flex-wrap: nowrap;
    justify-content: flex-start;
    width: auto;
}

ul.horizontal_media_list li:first-child {
    margin-left: 0;
}

ul.horizontal_media_list li {
    width: 130px;
    max-width: 195px;
    margin-left: 12px;
    height: 300px;
}

ul.horizontal_media_list li div.image {
    width: 130px;
    height: 195px;
}

ul.horizontal_media_list li a, section.inner_content ul.horizontal_media_list li div.poster {
    height: 100%;
    min-width: 100%;
    width: 100%;
    display: inline-block;
}

ul.horizontal_media_list li img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

ul.horizontal_media_list li a.title {
    display: inline-block;
    text-align: center;
    color: #000;
    font-size: 18px;
    padding-top: 4px;
}

div.person_v4 div.white_column section.credits {
    margin-top: 20px;
    position: relative;
    top: 0;
    left: 0;
}

div.credits_list {
    width: 100%;
}

div.credits_list h3:first-of-type {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

table.credits + h3 {
    margin-top: 30px;
    margin-bottom: 0;
}

table.credits {
    width: 100%;
    margin: 0;
    margin-top: 10px;
}

.card {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(277, 277, 277, 1);
    background-color: #fff;
}

table.credits tbody {
    background-color: #fff;
    border: 1px solid rgba(277, 277, 277, 1);
    border-bottom: none;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

table.credits td {
    padding: 0;
}

table.credit_group {
    width: 100%;
    margin: 0;
    border-collapse: separate;
    border-bottom: 1px solid #dedede;
    padding: 10px 0 10px 0;
}

table.credit_group tbody td.year {
    width: 64px;
    font-weight: 400;
    vertical-align: top;
    text-align: center;
}

table.credit_group tbody td {
    padding: 8px 16px;
}

table.credit_group tbody td.seperator {
    padding: 0;
    color: #ccc;
    vertical-align: top;
    width: 24px;
}

table.credit_group tbody td.seperator span.glyphicons_v2 {
    top: 11px;
}

.glyphicons_v2.circle-empty {
    background: url('https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-298-circle-empty-04c378f484e29180410eb305f586561b024cc969e038a8687fffd641f55b894c.svg')
}

.glyphicons_v2 {
    position: relative;
    top: 0;
    left: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 1em;
    min-height: 1em;
    width: 1em;
    height: 1em;
    line-height: inherit;
    background-position: center center;
    background-repeat: no-repeat;
    color: inherit;
    box-sizing: border-box;
}

table.credit_group tbody td {
    padding: 8px 16px;
}

table.credit_group tbody td.role a {
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
}

table.credit_group tbody td.role span, table.credit_group tbody td.role span a {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 400;
}

.social_links {
    margin: 20px 0 0 0;
}


.filler {
    margin-left: 10px;
    background-color: transparent;
}

.view_more, .view_more p, .view_more a {
    display: flex;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
}

.view_more {
    min-width: 140px;
    width: 140px;
    background-color: #fff;
    margin-right: 10px;
    margin-left: 10px;
}

.glyphicons_v2 {
    position: relative;
    top: 0;
    left: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 1em;
    min-height: 1em;
    width: 1em;
    height: 1em;
    line-height: inherit;
    background-position: center center;
    background-repeat: no-repeat;
    color: inherit;
    box-sizing: border-box;
}

.glyphicons_v2.arrow-thin-right {
    background-image: url('https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-830-arrow-thin-right-5c2f4e65afc985448cd9042f9d64426f1e002fbd3c2546053d190fa27f77600f.svg');
}

.view_more a span {
    margin-left: 4px;
    font-size: 1.1em;
}

.view_more a {
    display: flex;
    align-items: center;
    align-content: center;
    margin: 0;
    padding: 0;
}

.view_more p a {
    font-weight: bold;
    color: #000;
}

.tabs_block{
    display: none;
    transition: all 0.5s ease;
}

.tab-block--active{
    display: block;
}

