<div xmlns:th="http://www.thymeleaf.org" th:each="person:${people.results}" class="movie_item col-xl-3">
    <a th:href="@{'/movie/'+${person.id}}" class="movie_link">

        <img class="lazy" th:if="${person.profile_path!=null}"
             th:attr="data-src=@{'http://image.tmdb.org/t/p/w342'+${person.profile_path}}"/>


        <img class="lazy" th:if="${person.profile_path==null}"
             th:attr="data-src=@{https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg}">

    </a>
    <p class="movie-name" th:text="${person.name}"></p>
</div>

