<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Мир КИНО</title>
    <link rel="stylesheet" type="text/css" href="../resources/css/reset.css" th:href="@{/css/reset.css}"/>
    <link rel="stylesheet" type="text/css" href="../resources/css/slick.css" th:href="@{/css/slick.css}"/>
    <link type="text/css" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
          rel="stylesheet">
    <link type="text/css" href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet">
    <link type="text/css" href="https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../resources/css/style.css" th:href="@{/css/style.css}"/>


</head>

<body>

<header class="header" th:framgent="header">
    <nav class="nav">
        <div class="logo">
            <a href="/" class="logo-link">Мир <span>КИНО</span></a>
        </div>
    </nav>
</header>

<main class="main">
    <section class="filter-section">
        <div class="container">
            <div class="filter-inner">
                <div class="triggers">
                    <a href="#movies_tab" class="filter-item filter-link filter-active"
                       th:text="'Фильмы('+${movies.getTotal_results()}+')'"></a>
                    <a href="#tvshow_tab" class="filter-item filter-link"
                       th:text="'Сериалы('+${tvShows.getTotal_results()}+')'"></a>
                    <a href="#people_tab" class="filter-item filter-link"
                       th:text="'Люди('+${people.getTotal_results()}+')'"></a>
                </div>

            </div>
        </div>
    </section>

    <section class="movie-list-section page-section">
        <div class="container">
            <div class="movie-list-inner">

                <div class="tabs_block" id="movies_tab">
                    <div class="row">
                        <div th:each="movie:${movies.results}" class="movie_item col-xl-3">
                            <a th:href="@{'/movie/'+${movie.id}}" class="movie_link">

                                <img class="lazy" th:if="${movie.poster_path!=null}"
                                     th:attr="data-src=@{'http://image.tmdb.org/t/p/w342'+${movie.poster_path}}"/>


                                <img class="lazy" th:if="${movie.poster_path==null}"
                                     th:attr="data-src=@{https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg}">

                            </a>
                            <p class="movie-name" th:text="${movie.title}"></p>
                        </div>
                    </div>
                </div>

                <div class="tabs_block" id="tvshow_tab">
                    <div class="row">
                        <div th:each="tvshow:${tvShows.results}" class="movie_item col-xl-3">
                            <a th:href="@{'/movie/'+${tvshow.id}}" class="movie_link">

                                <img class="lazy" th:if="${tvshow.poster_path!=null}"
                                     th:attr="data-src=@{'http://image.tmdb.org/t/p/w342'+${tvshow.poster_path}}"/>


                                <img class="lazy" th:if="${tvshow.poster_path==null}"
                                     th:attr="data-src=@{https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg}">

                            </a>
                            <p class="movie-name" th:text="${tvshow.title}"></p>
                        </div>
                    </div>
                </div>

                <div class="tabs_block" id="people_tab">
                    <div class="row">
                        <div th:each="person:${people.results}" class="movie_item col-xl-3">
                            <a th:href="@{'/movie/'+${person.id}}" class="movie_link">

                                <img class="lazy" th:if="${person.profile_path!=null}"
                                     th:attr="data-src=@{'http://image.tmdb.org/t/p/w342'+${person.profile_path}}"/>


                                <img class="lazy" th:if="${person.profile_path==null}"
                                     th:attr="data-src=@{https://www.themoviedb.org/assets/2/v4/glyphicons/basic/glyphicons-basic-38-picture-grey-c2ebdbb057f2a7614185931650f8cee23fa137b93812ccb132b9df511df1cfac.svg}">

                            </a>
                            <p class="movie-name" th:text="${person.name}"></p>
                        </div>
                    </div>
                </div>

                <div class="movie-page-block">
                    <ul class="page-list">
                        <!--                        <c:choose>-->
                        <!--                            <c:when test="${totalPages<=10}">-->
                        <!--                                <c:forEach var="i" begin="1" end="${totalPages}">-->
                        <!--                                    <li class="page-item"><a href="<c:url value=" ${urlPage}&page=${i}"/>"-->
                        <!--                                        class="page-link-->
                        <!--                                        <c:if test="${i==currentPage}">-->
                        <!--                                            <c:out value="active"/>-->
                        <!--                                        </c:if>-->
                        <!--                                        ">${i}</a></li>-->
                        <!--                                </c:forEach>-->
                        <!--                            </c:when>-->
                        <!--                            <c:otherwise>-->
                        <!--                                <c:choose>-->
                        <!--                                    <c:when test="${currentPage-3>1&&currentPage+5<totalPages}">-->
                        <!--                                        <li class="page-item"><a href="<c:url value=" ${urlPage}&page=1"/>"-->
                        <!--                                            class="page-link-->
                        <!--                                            <c:if test="${i==currentPage}">-->
                        <!--                                                <c:out value="active"/>-->
                        <!--                                            </c:if>-->
                        <!--                                            ">1</a></li>-->
                        <!--                                        <li class="page-item"><p class="dots">...</p></li>-->
                        <!--                                        <c:forEach var="i" begin="${currentPage-3}" end="${currentPage+2}">-->
                        <!--                                            <li class="page-item"><a href="<c:url value=" ${urlPage}&page=${i}"/>"-->
                        <!--                                                class="page-link-->
                        <!--                                                <c:if test="${i==currentPage}">-->
                        <!--                                                    <c:out value="active"/>-->
                        <!--                                                </c:if>-->
                        <!--                                                ">${i}</a></li>-->
                        <!--                                        </c:forEach>-->
                        <!--                                        <li class="page-item"><p class="dots">...</p></li>-->
                        <!--                                        <li class="page-item "><a href="<c:url value=" ${urlPage}&page=${totalPages}"/>"-->
                        <!--                                            class="page-link-->
                        <!--                                            <c:if test="${i==currentPage}">-->
                        <!--                                                <c:out value="active"/>-->
                        <!--                                            </c:if>-->
                        <!--                                            ">${totalPages}</a></li>-->
                        <!--                                    </c:when>-->
                        <!--                                    <c:when test="${currentPage-5<=0}">-->
                        <!--                                        <c:forEach var="i" begin="1" end="5">-->
                        <!--                                            <li class="page-item"><a href="<c:url value=" ${urlPage}&page=${i}"/>"-->
                        <!--                                                class="page-link-->
                        <!--                                                <c:if test="${i==currentPage}">-->
                        <!--                                                    <c:out value="active"/>-->
                        <!--                                                </c:if>-->
                        <!--                                                ">${i}</a></li>-->
                        <!--                                        </c:forEach>-->
                        <!--                                        <li class="page-item"><p class="dots">...</p></li>-->
                        <!--                                        <li class="page-item"><a href="<c:url value=" ${urlPage}&page=${totalPages}"/>"-->
                        <!--                                            class="page-link-->
                        <!--                                            <c:if test="${i==currentPage}">-->
                        <!--                                                <c:out value="active"/>-->
                        <!--                                            </c:if>-->
                        <!--                                            ">${totalPages}</a></li>-->
                        <!--                                    </c:when>-->
                        <!--                                    <c:when test="${currentPage+5>=totalPages}">-->
                        <!--                                        <li class="page-item"><a href="<c:url value=" ${urlPage}&page=1"/>"-->
                        <!--                                            class="page-link-->
                        <!--                                            <c:if test="${i==currentPage}">-->
                        <!--                                                <c:out value="active"/>-->
                        <!--                                            </c:if>-->
                        <!--                                            ">1</a></li>-->
                        <!--                                        <li class="page-item"><p class="dots">...</p></li>-->
                        <!--                                        <c:forEach var="i" begin="${currentPage-4}" end="${totalPages}">-->
                        <!--                                            <li class="page-item"><a href="<c:url value=" ${urlPage}&page=${i}"/>"-->
                        <!--                                                class="page-link-->
                        <!--                                                <c:if test="${i==currentPage}">-->
                        <!--                                                    <c:out value="active"/>-->
                        <!--                                                </c:if>-->
                        <!--                                                ">${i}</a></li>-->
                        <!--                                        </c:forEach>-->
                        <!--                                    </c:when>-->
                        <!--                                </c:choose>-->
                        <!--                            </c:otherwise>-->
                        <!--                        </c:choose>-->
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>


<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript" src="../resources/js/bootstrap.min.js" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" src="../resources/js/jquery.lazy.min.js" th:src="@{/js/jquery.lazy.min.js}"></script>
<script type="text/javascript" src="../resources/js/main.js" th:src="@{/js/main.js}"></script>
</body>

</html>


